main section .content .gutter
{
    padding: 25px 10px;
}

main section .content h2
{
    font-size: 26px;
    line-height: 1em;
    margin-bottom: 27px;
}

main section .content .pad-text
{
    padding: 0 5px;
    font-size: 18px;
    line-height: 1em;
}

main section .content a
{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

main section.history
{
    background: url('/content/images/1968_lions.jpg') no-repeat 50% -125px;
}

main section.dark.history .shade
{
    background-color: rgba(38, 41, 46, .65);
}

main section.history .content
{
    min-height: 400px;
}

main section.history p
{
    margin-bottom: 25px;
}

main section.history p.continued
{
    margin-bottom: 5px;
}

main section.history .content a
{
    text-decoration: none;
    color: #da1b18;
}

main section.history .content a:hover,
main section.history .content a:active
{
    /*color: #D2D2D2;*/
    color: #f41c19;
}

main section.officers h2
{
    font-weight: 400;
    margin-bottom: 12px;
}

main section.officers .board .officer
{
    margin-bottom: 25px;
}

main section.officers p
{
    margin: 0;
}

main section.officers .board
{
    margin-top: 25px;
}

main section.officers .officer
{
    float: left;
    width: 50%;
}

main section.officers .officer h3
{
    font-size: 20px;
    margin-bottom: 8px;
}

main section.officers .officer a
{
    color: #da1b18;
}

main section.officers .officer a:hover,
main section.officers .officer a:active
{
    color: #f41c19;
}

@media (max-width: 530px)
{
    main section.officers .officer
    {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}
