main section.about
{
    color: white;
    background: url(/content/images/richmond-1200x768.jpg) #0b333f no-repeat 50% 0;
    /*background: url(/images/lions_team.jpg) #0b333f no-repeat 50% 0px fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main section.about .about-wrap
{
    background-color: rgba(38, 41, 46, .5);
}

main section.about .content
{
    min-height: 400px;
}

main nav
{
    display: none;
}

main section.about .about-text
{
    font-size: 24px;
    line-height: 1em;
    max-width: 725px;
    margin: 75px auto 0 auto;
}

main section.about .history
{
    color: white;
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 20px;
}

main section.about a
{
    text-decoration: none;
    /*color: #da1b18;*/
    color: #D2D2D2;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

main section.about a:hover,
main section.about a:active
{
    color: #ffffff;
    /*color: #f41c19;*/
}

main section.light-grey, main section.dark-grey
{
    -moz-box-shadow: 0 0 6px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,1);
    box-shadow: 0 0 6px rgba(0,0,0,1);
}

main section.announcements
{
    z-index: 50;
}

main section.announcements .message
{
    float: left;
    width: 100%;
}

main section.announcements .message a
{
    text-decoration: none;
}

main section.announcements .message p
{
    margin: 0;
}

main section.announcements .message .card a
{
    color: #da1b18;
    webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

main section.announcements .message .card a:hover,
main section.announcements .message .card a:active
{
    color: #f41c19;
}

main section.announcements .message .card .text a
{
    text-decoration: underline;
}

main section.announcements .message .card h3
{
    color: #f50c1c;
    margin-bottom: 10px;
    font-size: 22px;
}

main section.announcements .persistent .text
{
    margin-bottom: 5px;
}

main section.announcements .message .card .text
{
    font-size: 22px;
    line-height: 1.1em;
    color: black;
}

main section.announcements .message .card .when
{
    font-size: 14px;
    color: grey;
    display: inline-block;
    float: right;
    padding: 5px;
}

main section.events
{
    position: relative;
    z-index: 100;
}

main section.sponsors
{
    z-index: 25;
}

main section.events .event a
{
    text-decoration: none;
}

main section.events .event .card h3
{
    text-align: center;
    color: #f50c1c;
    margin-bottom: 15px;
    font-size: 22px;
}

main section.events .event .card .event-detail p
{
    margin-bottom: 10px;
}

main section.events .event .card .when, main section.events .event .card .event-detail p
{
    color: #808080;
}

main section.events .event .card .when
{
    font-size: 20px;
    line-height: 1.2em;
    float: right;
    text-align: right;
    padding: 12px 15px 0 0;
}

main section.events .event .card .event-detail
{
    margin-top: 10px;
    min-height: 100px;
}

main section .content .gutter
{
    padding: 15px 0;
    margin: 0;
}

main section .content .section-name
{
    text-align: center;
    margin-bottom: 10px;
}

main section .content .section-name .icon
{
    font-size: 34px;
    margin: 10px 0;
}

main section .content .section-name h2
{
    font-size: 29px;
    margin: 0;
}

main section .content .placeholder
{
    text-align: center;
    margin-top: 15px;
}

main section .content .placeholder a
{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

main section.light .content .placeholder a
{
    color: #da1b18;
}

main section.light .content .placeholder a:hover,
main section.light .content .placeholder a:active
{
    color: #f41c19;
}

main section.dark .content .placeholder a
{
    color: #ffffff;
}

main section.dark .content .placeholder a:hover,
main section.dark .content .placeholder a:active
{
    color: #D2D2D2;
}

main section .content .loading
{
    display: none;
}

main section.events .event
{
    float: left;
    display: inline-block;
    width: 33%;
}

main section .card
{
    margin: 10px 15px;
    padding: 10px;
}

main section .card
{
    border-radius: 1px;
    background-color: white;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,1);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

main section .card:hover
{
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,1);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,1);
    box-shadow: 0 1px 8px rgba(0,0,0,1);
}

main section.announcements .card:hover
{
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,1);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
}

main section.dark-grey .card
{
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,1);
    box-shadow: 0 1px 5px rgba(0,0,0,1);
}

main section.dark-grey .card:hover
{
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,1);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,1);
    box-shadow: 0 1px 10px rgba(0,0,0,1);
}

main section .card img
{
    max-width:100%;
    height: auto;
}

main section.events .event.middle
{
    width: 34%;
}

main section .section-link
{
    text-align: center;
}

main section .section-button
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    padding: 12px 22px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(230, 0, 0, 1);
    color: white;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

main section .section-button:hover,
main section .section-button:active
{
    background-color: rgba(245, 0, 0, 1);
}

main section.sponsors .sponsor
{
    float: left;
    display: inline-block;
    width: 20%;
}

main section.sponsors .sponsor .card
{
    text-align: center;
}

main section.sponsors .sponsor .card .square
{
    max-width: 210px;
    margin: auto;
    position: relative;
    width: 100%;		/* desired width */
}

main section.sponsors .sponsor .card .square:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

main section.sponsors .sponsor .card .sponsor-logo
{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

main section.sponsors .sponsor .card .sponsor-logo img
{
    width: 100%;
    position:  absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 900px)
{
    main section.about .about-text
    {
        margin: 75px auto 0 80px;
    }
}

@media (max-width: 767px)
{
    main nav
    {
        display: block;
    }

    main nav .social
    {
        display: block;
        float: right;
        margin-right: 5px;
    }

    main section.about .content
    {
        min-height: 300px;
    }

    main section.about .about-text
    {
        font-size: 20px;
        line-height: 1em;
        max-width: none;
        padding: 15px;
        margin: 0;
    }

    main section.about .about-text .history
    {
        font-size: 20px;
        line-height: 1em;
        margin-bottom: 15px;
    }

    main section .content .section-name .icon
    {
        margin-top: 5px;
        font-size: 30px;
    }

    main section .content .section-name h2
    {
        font-size: 27px;
    }

    main section.events .event, main section.events .event.middle
    {
        width: 100%;
    }

    main section.sponsors .sponsor
    {
        width: 100%;
    }

    main section.sponsors .sponsor .card
    {
        max-width: 340px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px)
{
    main section.sponsors .sponsor .card
    {
        max-width: 240px;
    }
}