.right
{
    float: right;
}

body
{
    background-color: grey;
}

header
{
    background-color: rgba(252, 0, 0, .90);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.solid-header header
{
    background-color: rgba(252, 0, 0, 1);
}

.skrollr #skrollr-body .fixed
{
    background-attachment: scroll;
}

.no-skrollr #skrollr-body .fixed
{
    background-attachment: fixed;
}

.header-bounds, footer div
{
    margin: auto;
    padding: 0 5px;
    max-width: 960px;
}

.header-padding
{
    width: 100%;
    height: 10px;
}

header a, nav a
{
    display: inline-block;
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1em;
}

header a:hover, nav a:hover
{
    color: #D2D2D2;
}

header h1
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

header h1 a
{
    background: url('/images/lion_shield_small.png') no-repeat left center;
    font-size: 30px;
    padding: 5px 0 5px 25px;
}

nav, nav ul, nav ul li
{
    display: inline-block;
}

nav ul
{
    line-height: 1em;
    list-style-type: none;
    padding: 0;
}

nav .links
{
    margin: 10px 0;
}

nav .social
{
    vertical-align: top;
    margin: 3px 0 3px 5px;
}

nav .links li a
{
    font-size: 20px;
    padding: 0 5px;
}

nav .social li
{
    display: inline-block;
    margin: 0 2px;
}

nav .social li a
{
    margin: 0;
    padding: 0;
    font-size: 34px;

    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

nav .social li a:hover
{
    opacity: .8;
}

nav .social .icon
{
    position: relative;
}

nav .social .icon .logo
{
    position: relative;
}

nav .social .icon .filler
{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 16px;
    height: 25px;
    background-color: white;
    display: block;
}

.icon-twitter-circled:before
{
    margin: 0;
    color: #30C5EA;
}

.icon-facebook-circled:before
{
    margin: 0;
    color: #38569C;
}

header button.menu
{
    display: none;
    cursor: pointer;
    padding: 8px 9px;
    margin: 4px 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(200, 0, 0, .9);
    border-radius: 3px;
}

header button.menu .icon-bar
{
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
}

nav.mobile-nav
{
    display: none;
}

header button.menu .icon-bar+.icon-bar
{
    margin-top: 4px;
}

main section.light-grey, main section.light-grey .content h2
{
    color: black;
}

main section.light-grey
{
    background-color: #f0f0f0;
}

main section.dark-grey, main section.dark-grey .content h2
{
    color: white;
}

main section.dark-grey
{
    background-color: grey;
}

main section .content
{
    background-color: transparent;
    max-width: 960px;
    margin: auto;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1em;
}

main section .content h2
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1em;
}

main section.first .content
{
    padding-top: 60px;
}

main section.cover
{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

main section.dark,
main section.dark h2,
main section.dark h3
{
    color: white;
}

main section.light,
main section.light h2,
main section.light h3
{
    color: black;
}

main section.dark .shade
{
    background-color: rgba(38, 41, 46, .5);
}

main section.light .shade
{
    background-color: rgba(255, 255, 255, .5);
}

footer
{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

footer div
{
    padding: 15px 5px;
}

footer div span
{
    display: inline-block;
    padding: 0 5px;
}

footer div a
{
    color: #ffffff;

    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

footer div a:hover
{
    color: #D2D2D2;
}

@media (max-width: 767px)
{
    header
    {
        /*background-color: rgba(252, 0, 0, 1);*/
    }

    .header-padding
    {
        display: none;
    }

    header h1 a
    {
        background-size: auto 28px;
        font-size: 26px;
        padding: 7px 0 7px 18px;
    }

    header button.menu
    {
        display: inline-block;
    }

    nav .links
    {
        display: none;
    }

    nav .social
    {
        display: none;
        margin: 6px 0 6px 5px;
    }

    nav .social li a
    {
        font-size: 28px;
    }

    nav .social .icon .filler
    {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 16px;
        height: 16px;
        background-color: white;
        display: block;
    }

    nav.mobile-nav
    {
        display: block;
    }

    nav.mobile-nav .mobile-links
    {
        margin: 0;
        width: 100%;
    }

    nav.mobile-nav .mobile-links li
    {
        font-size: 18px;
        text-align: center;
        width: 100%;
        padding: 12px 0;
        display: block;
        border-top: 1px solid rgba(200, 0, 0, .9);
        /*background-color: rgba(252, 0, 0, .9);*/
        /*border-top: 1px solid rgba(220, 0, 0, 1);*/
        /*background-color: rgba(252, 0, 0, 1);*/
    }

    main section.first .content
    {
        padding-top: 40px;
    }
}